.banner {
    background-image: url(nature.jpg);
    height: 70%;
    overflow: hidden;
    margin-top: -20px;
    margin-left: 0px;
}

.welcom {
    border-color: black;
    font-size: 23px;
    border-style: solid;
    border-width: 3px;
    width: 520px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 350px;
    color: #f8f9fa;
    height: 232px;
    text-align: center;
    padding-top: 35px;
    text-shadow: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"

}

.newsletter {
    text-align: center;
}

input[type=email] {
    width: 300px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px;
    background: #f1f1f1;
    margin-left: 100px;
}
.footer{
    display:flex;
    background-color: black;
    font-size: 14px;
    padding:20px;
    color:rgb(214, 211, 211);
}
.copy-right{
flex:3;
margin-top: 18px;
}
.social-media{
flex:1;
}
/*social media*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #3B5998;
    color: white;
}
.fa:hover{
    opacity:0.7;
}
.twitter {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #55ACEE;
    color: white;
}
.instagram {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: rgb(72, 167, 240);
    color: white;
}
.youtube {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: rgb(184, 9, 9);
    color: white;
}

.fa:hover{
    opacity:0.7;
}



@media only screen and (max-width:960px) {
    
    .welcom {
        width: 70%;
        margin-right: 150px;
        margin-left: 100px;
        padding-top: 10px;
        text-overflow: hidden;
    }
    .footer{
        display:flex;
        background-color: black;
        font-size: 15px;
        padding:15px;
        color:rgb(214, 211, 211);
    }
    .copy-right{
    flex:3;
    margin-top: 18px;
    }
    .social-media{
    flex:1;
    margin-top:10px;
    }
    /*social media*/
    .fa {
        padding: 15px;
        font-size: 20px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background: #3B5998;
        color: white;
    }
    .fa:hover{
        opacity:0.7;
    }
    .twitter {
        padding: 15px;
        font-size: 20px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background: #55ACEE;
        color: white;
    }
    .instagram {
        padding: 15px;
        font-size: 20px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background: rgb(72, 167, 240);
        color: white;
    }
    .youtube {
        padding: 15px;
        font-size: 20px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background: rgb(184, 9, 9);
        color: white;
    }
    
    
}

@media only screen and (max-width:600px) { /*Pixel 2XL*/
    .welcom {
        width: 70%;
        margin-left: 55px;
        margin-right: 10px;
    }
.welcom>p{
    text-overflow: ellipsis;
}
    .footer{
        display:flex;
        background-color: black;
        font-size: 10px;
        padding:10px;
        color:rgb(214, 211, 211);
    }
    .copy-right{
    flex:3;
    margin-top: 18px;
    }
    .social-media{
    flex:1;
    margin-top:10px;
    }
    /*social media*/
    .fa {
        padding: 10px;
        font-size: 15px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background: #3B5998;
        color: white;
    }
    .fa:hover{
        opacity:0.7;
    }
    .twitter {
        padding: 10px;
        font-size: 15px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background: #55ACEE;
        color: white;
    }
    .instagram {
        padding: 10px;
        font-size: 15px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background: rgb(72, 167, 240);
        color: white;
    }
    .youtube {
        padding: 10px;
        font-size: 15px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background: rgb(184, 9, 9);
        color: white;
    }
}
